.app{
  margin:0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .column {
    padding: 2px;
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .column {
    flex: 48%;
    max-width: 48%;
  }
  .app{
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
  .app{
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .column {
    flex: 32%;
    max-width: 32%;
  }
  .app{
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .column {
    flex: 32%;
    max-width: 32%;
  }
  .app{
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .column {
    flex: 24%;
    max-width: 24%;
  }
  .app{
    width: 70%;
  }
}
